

.h1{
	font-size: 30px;
	background-color:grey;
	color:white;
	text-align:center;
}
 #draggable { width: 150px; height: 150px; padding: 0.5em;background-color: blue; }
 #zoom-button {
      width: 55px;
    }
    #fontname-button,
    #fontsize-button {
      width: 45px;
    }
    #forecolor-button {
      width: 50px;
    }
    #hilitecolor-button {
      width: 70px;
    }
    #bold {
      font-weight: bold;
    }
    #italic {
      font-style: italic;
    }
    #underline {
      text-decoration: underline;
    }
    .toolbar {
      font-size: .75em;
    }
    #page {
      width: 440px;
      left: 50%;
      position: relative;
      margin-left: -226px;
      height: 450px;
      border: 1px solid #888;
      box-shadow: 7px 7px 3px #ccc;
      font-size: 11px;
      font-family: "Lucida Grande";
      zoom: 100%;
      padding: 5px;
      white-space: pre-line;
      overflow: scroll;
    }
    .wrap {
      width: 588px;
    }